<header class="header">
  <div class="container">
    <div class="left-section">
      <a routerLink="/notes-dashboard" class="brand">
        <i class="fas fa-book-open"></i>
        <span>Noted</span>
      </a>

      <!-- Archived Notes Link -->
      <a routerLink="/archived-notes" class="archived-link">
        <i class="fas fa-archive"></i>
        <span> Notes</span>
      </a>
    </div>

    <div class="right-section">
      <!-- Font Dropdown -->
<div>
    <app-font-toggle></app-font-toggle>
</div>
 
      <!-- Theme Toggle Component -->
      <div>
        <app-theme-toggle></app-theme-toggle>
      </div>

    <div>
      <app-avatar-auth></app-avatar-auth>   
      </div>
</div>
    </div> 
</header>
